body{
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}
.logoHeader{
    width: 140px;
}
.itemsNav{
    font-weight: 700;
    font-size: 1.1rem;
}
.itemsNav:hover{
    background-color: rgba(0,0,0,0.12);
    border-radius: 35px;
    transition: all 0.3s;
}
.containerPrincipal{
    padding: 35px 0;
}
.bannerPrincipal{
    height: 425px;
    width: 100%;
    object-fit:cover;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
.positionAbs{
    position: absolute;
}
.tituloPrincipal{
    font-size: 4rem;
}
.subtituloPrincipal{
    font-size: 2rem;
}

.tituloPrincipal, .subtituloPrincipal{
    color:white;
}
.logoFooter{
    width: 120px;
    filter: invert();
}
.pregunta{
    font-weight: 700;
    font-size: 3.2rem;
}
@media (max-width: 705px) {
    .tituloPrincipal{
      font-size: 1.2rem;
    }
}