//VARIABLES SASS
// $primary:       $blue;
// $secondary:     $gray-600;

$card-border-color:                 rgba(black, 0.12);
$card-border-radius:                30px;

$btn-border-radius:           30px;


@import "./node_modules/bootstrap/scss/bootstrap.scss";

//RAW CSS

html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Ubuntu', sans-serif;
    /* scroll-behavior: smooth; */

}
.logoHeader{
    width: 140px;
}
.itemsNav{
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 35px;
}
.itemsNav:hover{
    background-color: rgba(0,0,0,0.12);
    transition: all 0.3s;
}
.containerPrincipal{
    padding: 35px 0;
}
.bannerPrincipal{
    height: 425px;
    width: 100%;
    object-fit:cover;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
.positionAbs{
    position: absolute;
}
.tituloPrincipal{
    font-size: 4rem;
}
.subtituloPrincipal{
    font-size: 2rem;
}
.tituloPrincipal, .subtituloPrincipal{
    color:white;
}
.logoFooter{
    width: 120px;
    // filter: invert();
}
.pregunta{
    font-weight: 700;
    font-size: 3.2rem;
}
.imagenesNosotros img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 500px;
}

@media (max-width: 705px) {
    .tituloPrincipal{
      font-size: 1.2rem;
    }
}
@media (max-width: 680px){
    .imagenesNosotros img{
        width: 150px;
        height: 150px;
    }
}


// EFECTO COPIADO
/* Explanation in JS tab */
/* Cool font from Google Fonts! */
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

body {
	margin: 0px;
}

#container {
	/* Center the text in the viewport. */
	position:relative;
	margin: auto;
	width: 100vw;
	height: 80pt;
	top: 0;
	bottom: 0;
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	filter: url(#threshold) blur(0.48px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display:inline-block;
	
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	text-align: center;
	user-select: none;
}